.sidebar{
    width: 80px;
    height: 100vh;
    position: fixed;
    left: 0;
}

.sidebar .items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.sidebar .items .item{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .items .item:last-child{
    position: absolute;
    bottom: 20px;
}

.sidebar .items .item.active{
    border-left: 4px solid var(--green);
}

.sidebar .items .item.active img{
    margin-left: -7px;
    min-width: 25px;
    max-width: 25px;
}


.sidebar img{
    max-width: 25px;
}

.btnSidebar{
    display: none;
}

@media (max-width: 620px) {

    .sidebar{
        transform: translateX(-100%);
        transition: all .4s ease;
    }

    body.open .sidebar{
        transform: translateX(0) !important;
        position: fixed;
        z-index: 999;
        background: var(--bg);
        box-shadow: var(--shadow);
        transition: all .4s ease;
    }

    .btnSidebar {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        background: none;
        border: none;
        outline: none;
        color: var(--green);
        cursor: pointer;
        z-index: 99;
    }

}