.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login form{
    min-width: 500px;
    box-shadow: var(--shadow);
    border-radius: 30px;
    padding: 20px 40px;
}

.login form .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login form .content img{
    max-width: 140px;
}

.login form .content p{
    font-weight: 600;
}

.login form .inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
}

.login form .inputs .grupo-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.login form .inputs .grupo-input label{
    cursor: pointer;
}

.login form .inputs .grupo-input input{
    width: calc(100% - 10px);
    padding-left: 10px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid var(--blue);
    background: transparent;
    color: var(--white);
    outline: none;
}

.login form .inputs .grupo-input input::placeholder{
    color: var(--blue);
}

.login form .inputs .grupo-input input:focus{
    border: 1px solid var(--green)
}

.login form .inputs .submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.login form .inputs .submit a{
    color: var(--green);
    cursor: pointer;
}

.login form .inputs .submit input{
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--green);
    border: none;
    outline: none;
    color: var(--white);
    font-weight: 600;
    text-shadow: 2px 1px #0000007c;
    cursor: pointer;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: 10px;
}




.login form .enlace a{
    color: var(--green);
    font-weight: 600;
    cursor: pointer;
}


@media (max-width: 620px) {
    .login form{
        min-width: 300px !important;
        width: calc(95% - 20px);
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
    }
}



